@reference "tailwindcss";

.EngagementCard {
    @apply border space-y-4 p-6;
    background-color: var(--color-mournfangBrown);
    border-color: var(--color-fireDragonBright);
    color: var(--color-fireDragonBright);
}
