@reference "tailwindcss";

.GamePhaseSelectorItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;

    border-color: var(--color-mournfangBrown);
    color: var(--color-fireDragonBright);

    @apply border-1 opacity-60 p-3 gap-2 transition-colors transition-opacity;
}

.GamePhaseSelectorItemActive {
    background-color: var(--color-fireDragonBright);
    color: var(--color-mournfangBrown);
    opacity: 100%;
}

.GamePhaseSelectorItemCounter {
}
