.text-blockcaps-xs {
    text-transform: uppercase;
    font-size: 0.5rem;
    letter-spacing: 8%;
}

.text-blockcaps-s {
    text-transform: uppercase;
    font-size: 0.625rem;
    letter-spacing: 10%;
}

.text-blockcaps-m {
    text-transform: uppercase;
    font-size: 0.75rempx;
    letter-spacing: 12%;
}

.text-blockcaps--xxl {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 15%;
}

.text-metadata-m {
    font-size: 12px;
}

.text-metadata-l {
    font-size: 14px;
}

.text-metadata-xl {
    font-size: 16px;
}

.text-profile-attribute {
    font-size: 0.875rem;
    letter-spacing: 0;
}

.text-counter-l {
    font-size: 4rem;
}
