@reference "../../../styles/theme.css";

.SidebarNavigationItem {
    @apply p-2 rounded fill-fireDragonBright;
}

.SidebarNavigationItemActive {
    @apply bg-fireDragonBright fill-mournfangBrown;
}
