@reference "tailwindcss";

.SidebarNavigation {
    position: absolute;
    writing-mode: vertical-lr;
    @apply flex flex-row pt-6 top-12 left-6 -rotate-180 translate-x-[-2px];
}

.SidebarNavigationItem {
    @apply relative inline-block py-2 px-4 rounded-tr rounded-br;
}

.SidebarNavigationItemActive {
    box-shadow: var(--shadow-glow-green);
    background-color: var(--color-skarsnikGreen);
    color: var(--color-mournfangBrown);
}
