.UnitListItem {
    position: relative;
    cursor: pointer;
    background-color: var(--color-deathWorldForest);

    &:hover {
        border-color: var(--color-skarsnikGreen);
    }

    &:after {
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;
        height: 1px;
        width: 0px;
        transition: 0.125s width ease-out;
        background-color: var(--color-skarsnikGreen);
    }
}

.UnitListItemActive {
    border-color: var(--color-skarsnikGreen);
    background-color: var(--color-skarsnikGreen);
    color: var(--color-deathWorldForest);

    &:after {
        width: 1.5rem;
    }
}
