.UnitListItem {
    position: relative;
    cursor: pointer;
    background-color: var(--color-deathWorldForest);

    &:hover {
        border-color: var(--color-skarsnikGreen);
    }
}

.UnitListItemActive {
    border-color: var(--color-skarsnikGreen);
    background-color: var(--color-skarsnikGreen);
    color: var(--color-deathWorldForest);
}
