@reference "tailwindcss";

.UnitMovementCard {
    position: relative;
    background-color: var(--color-mournfangBrown);
    border: 1px solid var(--color-fireDragonBright);
    color: var(--color-fireDragonBright);

    @apply rounded p-4 flex space-y-4 flex-col justify-between;
}

.UnitMovementCardTouched {
    background-color: var(--color-fireDragonBright);
    border: 1px solid var(--color-fireDragonBright);
    color: var(--color-mournfangBrown);
}

.UnitMovementCardDestroyed {
    background-color: var(--color-rhinoxHide);
    border: 1px solid var(--color-wildRiderRed);
    color: var(--color-wildRiderRed);
    cursor: not-allowed;

    > * {
        opacity: 40%;
        pointer-events: none;
    }
}
